@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* * > * {
    font-family: 'Poppins', sans-serif;
} */

/* .container{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.board{
    max-width: 100%;
    width: 50%;
    background-color: #0b7b94ab;
    text-align: center;
    border-radius: 8px;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
}
.text-light{
    font-size: 16px;
    color: #f0f4ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.swiper {
    width: 600px;
    height: auto;
  }
.swiper .swiper-slide .flex{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper .swiper-slide .comments {
    background-color: #EBEBFB;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}
.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #EBEBFB;
    z-index: -99;
}
.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.swiper .profile img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid #abdbe9;
    margin: 10px 0;
}
.swiper .profile > a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
}
.swiper .profile > span{
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 15px;
}
.swiper .swiper-button-prev, .swiper-button-next{
    color: #05414eab;
    display: none;
} 

@media (min-width: 320px) {
    .board{
        width: auto;
    }
    .swiper {
        width: 320px;
    }

    .board > h1, p {
        padding: 0 2em;
    }
}

@media (min-width: 768px) {
    .board {
        width: 100%;
    }

    .swiper {
        width: 600px;
    }

    .swiper .swiper-button-prev, .swiper-button-next {
        display: initial;
    }

}