main{
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 0;
    background-color: #FEF6C2;
    display: block;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

* {
    box-sizing: border-box;
}

body{
    background-image: url(Images/background.gif);
    background-color: #fcebb6;
    font-family: Verdana,Arial,sans-serif;
    color: #221811;
}
header{
    background-color: #D2B48C;
    height: 150px;
    background-image: url(Images/javajamlogo.jpg) ;
    background-repeat: no-repeat;
    display: block;
}

h1{
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width:  200px;
    display: block;
}

nav a{text-decoration: none;}

nav a:link {color: #FEF6C2;}
nav a:visited {color: #D2B48C;}
nav a:hover {color: #CC9933;}

nav ul {
    padding-left: 0;
    list-style-type: none;
}

h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom:1px solid #000000;
    padding-bottom: 0;
    clear: left;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

img{
    padding: 0 10px;
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FEF6C2;
    max-width: 1280px;
    min-width: 900px;
    box-shadow: 5px 5px 5px #828282;
    background-color: #231814;
}

.details{
    padding: 0 20%;
    overflow: auto;
}

.heroroad{
    background-image: url(Images/heroroad.jpg); 
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    height: 250px;
}

.heromugs{
    background-image: url(Images/heromugs.jpg); 
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    height: 250px;
}

.heroguitar{
    background-image: url(Images/heroguitar.jpg);
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    height: 250px;
}

footer{
    background-color: #d2b48c;
    font-size:.60em ;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
    display: block;
}

table {
    width: 90%;
    margin: auto;
    background-color: #ffffcc;
    border-spacing: 0;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd) {background-color: #d2b48e;}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

.herojobs{
    background-image: url(Images/herojobs.jpg);
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    height: 250px;
}